= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|

  = block :block_class => "small login center" do
    = block_head @title || "%s > %s" % [controller.controller_name.humanize, controller.action_name.humanize] do
      = render :partial => "devise/shared/links"
      
    = block_content do
      = render :partial => 'layouts/flashes'
      = render :partial => 'layouts/form_errors', :locals => {:resource => resource}

      = f.input :email
      = f.input :password
      = f.input :password_confirmation

  = f.submit "Update", :class => "full-width-button"


