%div
  - widget_data.items.each do |item|
    .item
      .normal-content
        %h2
          - if item.link
            %a{:href => item.link}
              != item.primary_text
          - else
            != item.primary_text
        %p.details
          - if item.optional_text
            - if item.optional_text.is_a? String
              != sanitize(item.optional_text)
            - else
              = time_distance(item.optional_text)
            %br
          - if item.secondary_text
            != sanitize(item.secondary_text.to_s)