%table(width="100%")
  %tbody
    - resource_class.ui_editable_attributes.each do |a|
      %tr
        %th= a.to_s.humanize
        %td
          - if resource[a]
            = resource[a]
          - else
            %span.empty= "Empty field"


= content_for :actions do
  %ul
    - if can? :edit, resource
      %li= link_to "Edit", edit_resource_url(resource)
    %li= link_to "Back", collection_url

