= render :partial => 'layouts/form_errors', :locals => {:resource => resource}
= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
  = f.hidden_field :reset_password_token
  = f.input :password
  = f.input :password_confirmation
  .input
    = f.submit "Change password!", :class => "long"
        
= content_for :actions do
  = render :partial => "devise/shared/links"

