= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|

  = block :block_class => "small login center" do
    = block_head @title || "%s > %s" % [controller.controller_name.humanize, controller.action_name.humanize] do
      = render :partial => "devise/shared/links"

    = block_content do
      = render :partial => 'layouts/flashes'
      = render :partial => 'layouts/form_errors', :locals => {:resource => resource}

      = f.input :email

  = f.submit "Renew password!", :class => "full-width-button"


