- cols_count = @dashboard.columns_count || 2
#dashboard{:class => "cols-%d" % cols_count}
  %h1.dashboard-title= @dashboard.title
  - 1.upto(cols_count).each do |i|
    .column{:id => "area%d" % i}
      .column-inner
      - if @dashboard.user == current_user
        .add-new-widget
          = submit_tag "Add a new Widget...", :class => "full-width-button"
 
  %script{:type => "text/json"}
    != @dashboard_settings.to_json
  
  %script{:type => "text/javascript"}
    function firstLoad() {
    - @dashboard.widgets.order("area, area_position").each do |widget|
      != render :partial => "widgets/view.js.erb", :locals => {:widget => widget, :widget_data => widget.widget_data}
    }
  .widget-template
    .widget-box
      .widget-head
        .title
        .actions
          - if @dashboard.user == current_user
            %ul
              %li.remove= link_to "Remove Widget", "#"
              %li.settings= link_to "Toggle Settings", "#"
      .widget-content
        .type-bar
        - if @dashboard.user == current_user
          .hidden
            .mode.new-mode
              = simple_form_for [@dashboard, Widget.new], :remote => true do |f|
                .input
                  = f.label :widget_input_types, "Select your Widget:", :class => "required"
                  = f.grouped_collection_select :widget_input_types, @available_inputs_widgets_slugs, :widgets, :label, :value, :label, :class => "required"
                = f.hidden_field :area
                = f.hidden_field :guid
                = f.button :submit
            .mode.edit-mode
        .mode.normal-mode
