#dashboard
  %h1.dashboard-title= @dashboard.title
  .column#area1
    .add-new-widget
      = submit_tag "Add a new Widget...", :class => "full-width-button"
  .column#area2
    .add-new-widget
      = submit_tag "Add a new Widget...", :class => "full-width-button"
 
  %script{:type => "text/json"}
    != @dashboard_settings.to_json
  
  %script{:type => "text/javascript"}
    function firstLoad() {
    - @dashboard.widgets.order("area, area_position").each do |widget|
      != render :partial => "widgets/view.js.erb", :locals => {:widget => widget, :widget_data => widget.widget_data}
    }
  .widget-template
    .widget-box
      .widget-head
        .title
        .actions
          %ul
            %li.remove= link_to "Remove Widget", "#"
            %li.settings= link_to "Toggle Settings", "#"
      .widget-content
        .type-bar
        .mode.new-mode
          = simple_form_for [@dashboard, Widget.new], :remote => true do |f|
            = f.input :widget_type, :collection => @available_widgets, :label_method => :title, :value_method => :slug
            = f.hidden_field :area
            = f.hidden_field :guid
            = f.button :submit
        .mode.edit-mode
        .mode.normal-mode
