.weather-cont
  .weather weatherFeed
    %div.weatherItem{:style=>"background-image: url("http://l.yimg.com/a/i/us/nws/weather/gr/27n.png"); background-repeat: no-repeat;")
      .weatherCity
        = city
      .weatherTemp
        = temp
      .weatherDesc
        = desc
      .weatherRange
        = weatherRange
      .weatherWind
        = wind


