!!! strict
%html
  %head
    = render :partial => 'layouts/head'
    
  %body
    #hld
      .wrapper
        = block :block_class => "small login center" do
          = block_head @title || "%s > %s" % [controller.controller_name.humanize, controller.action_name.humanize] do
            = yield :actions
          = block_content do
            = render :partial => 'layouts/flashes'
            = yield

    %script{:type => "text/javascript"}
      var rumbleUrl = 'http://railsrumble.com';
      
    %script{:type => "text/javascript",
        :src  => "http://blog.railsrumble.com/javascripts/rumble-r10-sash.js"}
