!!! strict
%html
  %head
    = render :partial => 'layouts/head'
    
  %body
    #hld
      = render :partial => 'layouts/hud'
      
      .wrapper
          
        .welcome-block
          .left
            = image_tag "/images/screenshot.png"
          .right
          
            %h1.boardd-logo 
              %span Bo<span>arr</span>d.
              
            = block :block_class => "small login center" do
              = block_head @title || "%s > %s" % [controller.controller_name.humanize, controller.action_name.humanize] do
                = yield :actions
              = block_content do
                = render :partial => 'layouts/flashes'
                = yield
                
            .full-width-button
              = link_to "Create a new Boarrd!", new_dashboard_path
      
        